{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div id="code" class="fw-bold">
        <h1>About This Project</h1>
        <br>
        <p>This is a multiplayer Ultimate TicTacToe game built with Flask and SocketIO by Muhammad Hussein Abouraya ~ MhmdMC.</p>
        <div class="social-links">
            <a href="https://instagram.com/mhmd_abouraya" target="_blank" class="insta-link">
                <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram" class="insta-icon">
                Instagram
            </a>
        </div>
    </div>
{% endblock %}