{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <header id="header">
        <div class="player player-active"
        id="xPlayerDisplay">
        X
        </div>
        <h3 id="titleHeader"></h3>
        <div class="player"
        id="oPlayerDisplay">
        O
        </div>
    </header>

    <div id="board">
        {% for i in range(9) %}
            <div class="cell b-cell" id="{{81 + i}}">
                <div class="s-board">
                    {% for j in range(9) %}
                        <div class="cell s-cell" id="{{i * 9 + j}}"></div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="status"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.cell').click(function() {
                var position = parseInt($(this).attr('id'))
                if (position < 81) {
                    makeMove(position);
                }
            });
            updateBoard({ board });
        })

        function makeMove(position) {
            $.ajax({
                type: 'POST',
                url: '/make_move',
                contentType: 'application/json',
                data: JSON.stringify({ 'position': position }),
                success: function(data) {

                    updateBoard(data.board, data.last_move, data.current_player);
                    if (data.winner == "Tie"){
                        $('#status').text("It's a tie!");
                    } else if (data.winner == "X"){
                        $('#status').text("X wins!");
                    } else if (data.winner == "O"){
                        $('#status').text("O wins!");
                    }
                }
            });
        }

        function updateBoard(board, last_move, current_player) {
            $('.s-cell').each(function(index) {
                $(this).text(board[index]);
            });
            $('.b-cell').each(function(index) {
                if ($(this).attr('id') === 81 + last_move) {
                    if (current_player === "X") {
                        $(this).css('background-color', 'red');
                    }
                    else {
                        $(this).css('background-color', 'blue');
                    }
                } else {
                    $(this).css('background-color', 'wheat');
                }
            });
            //for (var i = 0; i < 81; i += 9) {
            //        var cells = $('.s-cell').slice(i, i + 9);
            //        cells.not(cells.eq(4)).text('');
            //    }
        }

    </script>
{% endblock %}
