{% extends "layout.html" %}

{% block title %}
    Rules
{% endblock %}

{% block main %}
<div class="rules-flex-container">
    <div class="rules-text">
        <h1>Ultimate Tic-Tac-Toe Rules</h1>
        <p>
            Ultimate Tic-Tac-Toe is played on a 3×3 grid of tic-tac-toe boards. Each small board is called a "local board", and the overall 3×3 grid is the "global board".
        </p>
        <p>
            Just like in regular tic-tac-toe, the two players (X and O) take turns, starting with X. The game starts with X playing wherever they want in any of the 81 empty spots. Thereafter, each player moves in the small board corresponding to the position of the previous move in its small board, as indicated in the figures.
        </p>
        <p>
            If a move is played so that it wins a small board by the rules of normal tic-tac-toe, then the entire small board is marked as won by the player in the larger board.
        </p>
        <p>
            Once a small board is won by a player or it is filled completely, no more moves may be played in that board. If a player is sent to such a board, then that player may play in any other board. Game play ends when either a player wins the larger board or there are no legal moves remaining, in which case the game is a draw.
        </p>
    </div>
    <div class="rule-images">
        <div>
            <figure>
                <img src="{{ url_for('static', filename='images/guide1.png') }}" alt="Guide 1">
                <figcaption>X played in the middle of a local board, meaning O must play in the middle of the global board</figcaption>
            </figure>
            <figure>
                <img src="{{ url_for('static', filename='images/guide2.png') }}" alt="Guide 2">
                <figcaption>O played in the top-center of a local board, meaning X must play in the top-center of the global board</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="{{ url_for('static', filename='images/guide3.png') }}" alt="Guide 3">
                <figcaption>O won a local board by a doing a normal Tic-Tac-toe winning combnation in the top-left local board</figcaption>
            </figure>
            <figure>
                <img src="{{ url_for('static', filename='images/guide4.png') }}" alt="Guide 4">
                <figcaption>X played in the top-left of a local board but the top-left of the global board is full so O can play anywhere</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}
